Package: neptune-settings-sddm
Version: 1.3
Architecture: all
Maintainer: Leszek Lesner <leszek@zevenos.com>
Installed-Size: 912
Depends: sddm, sddm-theme-breeze
Section: admin
Priority: optional
Description: SDDM settings
  This package provides the default sddm login manager configuration for Neptune.
